/.pnpm-store/
/.vercel/
/bin/
/cover/
/dist/
/go.work.sum
/node_modules/
/website/.hugo_build.lock
/website/.wrangler/
/website/node_modules/
/website/package-lock.json
/website/public/
/website/resources/
/website/packages/hugoautogen/
/yarn-error.log

/manael
