/.vercel/
/bin/
/cover/
/dist/
/node_modules/
/website/.hugo_build.lock
/website/.wrangler/
/website/node_modules/
/website/public/
/website/resources/

/go.work.sum

/yarn-error.log
website/package-lock.json
/manael
