---
title: Manael
---

{{< blocks/cover title="Manael" image_anchor="top" height="min" color="primary" >}}
<div class="mx-auto">
  <p class="display-6 mt-4">Manael is a simple HTTP proxy for processing images.</p>
  <a class="btn btn-lg btn-secondary me-3 mb-4" href="/docs/">
    Get Started <i class="fas fa-arrow-alt-circle-right ms-2"></i>
  </a>
  <a class="btn btn-lg btn-outline-secondary me-3 mb-4" href="https://github.com/manaelproxy/manael">
    GitHub <i class="fab fa-github ms-2"></i>
  </a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" type="row" >}}

{{% blocks/feature icon="fas fa-cube" title="Simple!" %}}
Just run one binary!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-laptop-code" title="Portability!" %}}
Manael's binary runs anywhere in a GNU/Linux environment.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tachometer-alt" title="High Performance!" %}}
Manael is fast because there is no unnecessary processing!
{{% /blocks/feature %}}

{{< /blocks/section >}}
