---
title: Manael
---

{{< blocks/cover title="Manael" image_anchor="top" height="min" color="primary" >}}
<div class="mx-auto">
  <p class="display-6 mt-4">Manael は画像を処理するためのシンプルな HTTP プロキシです。</p>
  <a class="btn btn-lg btn-light me-3 mb-4" href="/ja/docs/">
    使ってみる <i class="fas fa-arrow-alt-circle-right ms-2"></i>
  </a>
  <a class="btn btn-lg btn-outline-light me-3 mb-4" href="https://github.com/manaelproxy/manael">
    GitHub <i class="fab fa-github ms-2"></i>
  </a>
</div>
{{< /blocks/cover >}}

<!-- prettier-ignore -->
{{< blocks/section color="white" type="row" >}}
<!-- prettier-ignore -->
{{% blocks/feature icon="fas fa-cube" title="コンテナレディ！" %}}
公式の軽量なDockerイメージを使って、どこへでも簡単にデプロイできます。
{{% /blocks/feature %}}

<!-- prettier-ignore -->
{{% blocks/feature icon="fas fa-laptop-code" title="パワフルな画像処理！" %}}
内部エンジンに libvips を採用し、超高速かつ省メモリな画像変換を実現します。
{{% /blocks/feature %}}

<!-- prettier-ignore -->
{{% blocks/feature icon="fas fa-tachometer-alt" title="高性能！" %}}
Manael は不要な処理がないので高速です！
{{% /blocks/feature %}}
{{< /blocks/section >}}
