---
title: Manael
---

{{< blocks/cover title="Manael" image_anchor="top" height="min" color="primary" >}}
<div class="mx-auto">
  <p class="display-6 mt-4">Manael は画像を処理するためのシンプルな HTTP プロキシです。</p>
  <a class="btn btn-lg btn-secondary me-3 mb-4" href="/ja/docs/">
    使ってみる <i class="fas fa-arrow-alt-circle-right ms-2"></i>
  </a>
  <a class="btn btn-lg btn-outline-secondary me-3 mb-4" href="https://github.com/manaelproxy/manael">
    GitHub <i class="fab fa-github ms-2"></i>
  </a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" type="row" >}}

{{% blocks/feature icon="fas fa-cube" title="シンプル！" %}}
たった1つのバイナリを実行するだけ！
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-laptop-code" title="可搬性！" %}}
Manael のバイナリは GNU/Linux 環境ならどこでも動作します。
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tachometer-alt" title="高性能！" %}}
Manael は不要な処理がないので高速です！
{{% /blocks/feature %}}

{{< /blocks/section >}}
