name: DocSearch Scraper

on:
  schedule:
    - cron: '53 1 * * *'

jobs:
  scrape:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Get DocSearch configuration
        id: docsearch-config
        run: echo "::set-output name=json::$(cat docsearch.json | jq -r tostring)"
      - name: Pull DocSearch Scraper
        run: docker pull algolia/docsearch-scraper:latest
      - name: Run DocSearch Scraper
        run: docker run -e TZ -e API_KEY -e APPLICATION_ID -e CONFIG algolia/docsearch-scraper:latest
        env:
          TZ: UTC
          API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
          CONFIG: ${{ steps.docsearch-config.outputs.json }}
